<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Index</title>
  </head>
  <body>
    <a href="/books/new">Add New Book</a>
    <body>
      <h1>All Books</h1>

      <ul>
        <% books.forEach(book => { %>
        <li><a href="/books/<%= book._id %>"> <%= book.bookName %> </a></li>
        <% }); %>
      </ul>
    </body>
  </body>
</html>
