<body>
  <a href="/books/">Back to Books</a>

  <h1>Add a New Book!</h1>
  <form action="/books" method="POST">
    <label for="bookName">The book name:</label>
    <input type="text" name="bookName" id="bookName" />

    <label for="author">The author name:</label>
    <input type="text" name="author" id="author" />

    <label for="isRead">Is done reading?</label>
    <input type="checkbox" name="isRead" id="isRead" />

    <button type="submit">Add Book</button>
  </form>
</body>
