<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books Shelf</title>
  </head>
  <body>
    <h1>Welcome to your book shelf</h1>
    <p>A shelf to save your reading status.</p>
    <a href="/books">Browse through books</a>
  </body>
</html>
